body {
    background-color: floralwhite;
}
.header {
    color: #750ba3;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #750ba3;
}
.credit-card-div span {
    padding-top: 10px;
}

.credit-card-div img {
    padding-top: 30px;
}

.credit-card-div .small-font {
    font-size: 9px;
}

.credit-card-div .pad-adjust {
    padding-top: 10px;
}
