<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net40" />
  <package id="AjaxControlToolkit_" version="4.1.50731.0" targetFramework="net40" />
  <package id="CalendarExtenderPlus" version="1.0.2.1" targetFramework="net40" />
</packages>